    body {
        font-size: 13px;
        line-height: 24px;
        color: #333333;
        font-weight: normal;
        font-family: "PT Sans";
        margin: 0;
        padding: 0;
    }
    
    .clearfix::after {
        content: '';
        display: table;
        clear: both;
    }
    
    h1 {
        font-size: 30px;
        line-height: 30px;
        color: #32425c;
        font-weight: normal;
        font-family: "Cuprum";
        text-transform: uppercase;
    }
    
    h2 {
        font-size: 30px;
        line-height: 30px;
        color: #32425c;
        font-weight: normal;
        font-family: "Cuprum";
        text-transform: uppercase;
    }
    
    h3 {
        font-size: 17px;
        line-height: 30px;
        color: #000000;
        font-weight: bold;
        font-family: "PT Sans";
        text-transform: uppercase;
    }
    
    .main-header {
        margin-bottom: 60px;
        padding-bottom: 60px;
        background-color: #f1f5f7;
    }
    
    .upper-header {
        width: 100%;
        min-height: 43px;
        background-color: #293449;
    }
    
    .info-header {
        float: left;
        width: 300px;
    }
    
    .header-logo {
        background-color: #ee3643;
        position: relative;
        display: inline-block;
        padding: 13px 55px;
        margin-right: 20px;
    }
    
    .header-logo:after {
        content: '';
        position: absolute;
        height: 5px;
        width: 100%;
        bottom: -5px;
        left: 0;
        background: #b52933;
    }
    
    .header-logo a {
        color: white;
        font-family: Cuprum;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    a.search {
        color: white;
        font-family: Cuprum;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
    }
    
    a.basket {
        color: white;
        font-family: Cuprum;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
    }
    
    a.bookmarks {
        color: white;
        font-family: Cuprum;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
    }
    
    a.buy {
        color: white;
        font-family: Cuprum;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
        width: 150px;
        height: 42px;
        background-color: #63a63e;
    }
    
    .phone {
        float: left;
        width: 270px;
        padding: 15px 15px;
        color: rgb(238, 54, 67);
        line-height: 17px;
        font-size: 21px;
        border: 2px solid white;
    }
    
    .info p {
        color: #ee3643;
        font-family: Cuprum;
        font-size: 16px;
        font-style: italic;
        line-height: 23px;
        margin-top: 48px;
        margin-left: 55px;
        margin-right: 65px;
    }
    
    .info {
        float: left;
    }
    
    p.adress {
        display: inline-block;
        padding: 10px 15px;
        margin: 0;
        color: rgb(50, 66, 92);
        line-height: 18px;
        font-size: 16px;
        text-align: center;
    }
    
    .enter {
        margin-left: 60px;
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 15px;
        background: white;
        line-height: 18px;
        font-size: 21px;
    }
    
    .upper-menu {
        line-height: 18px;
        font-size: 17px;
        color: white;
        text-transform: uppercase;
    }
    
    .sign-up {
        padding: 11px 25px;
        background: white;
        line-height: 18px;
        font-size: 21px;
    }
    
    .sign-up a {
        text-decoration: none;
        color: black;
    }
    
    .sign-up a:hover {
        color: rgb(238, 54, 67);
    }
    
    .sign-up a:active {
        color: rgb( 197, 197, 197);
    }
    
    .container {
        width: 940px;
        margin: 0 auto;
    }
    
    .phone-adress {
        float: left;
    }
    
    .phone-header {
        color: #e9292a;
        font-family: Cuprum;
        font-size: 21px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 48px;
        margin-bottom: 0;
        border: 3px solid white;
        text-align: center;
        padding: 12px 60px;
    }
    
    .adress-header {
        color: #32425c;
        font-family: Cuprum;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
    }
    
    .userblock {
        width: 310px;
        float: right;
    }
    
    a.login {
        display: inline-block;
        color: black;
        font-family: Cuprum;
        font-size: 21px;
        font-weight: 400;
        line-height: 18px;
        padding: 13px 29px;
        margin-top: 48px;
        margin-bottom: 70px;
        margin-right: 10px;
        background-color: white;
        text-decoration: none;
        text-align: center;
        position: relative;
    }
    
    .icon-login:before {
        color: #c5c5c5;
        font-size: 22px;
        line-height: 18px;
    }
    
    a.signup {
        display: inline-block;
        color: black;
        font-family: Cuprum;
        font-size: 21px;
        font-weight: 400;
        line-height: 18px;
        padding: 15px 28px;
        margin-top: 48px;
        margin-bottom: 70px;
        background-color: white;
        text-align: center;
        text-decoration: none;
        text-align: center;
    }
    
    .info-left-block {
        float: left;
    }
    
    .info-right-block {
        float: right;
        display: inline-block;
    }
    
    nav {
        width: 940px;
        margin: 0 auto;
        background: rgb(50, 66, 92);
    }
    
    .main-navigation {
        width: 100%;
        padding-bottom: 120px;
        height: 55px;
        padding: 0;
        margin: 0;
        font-size: 0;
        text-align: center;
        border-bottom: 5px solid #293449;
    }
    
    .main-navigation-list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
    }
    
    .main-navigation-list li {
        display: inline-block;
    }
    
    .main-navigation-list a {
        display: block;
        padding: 20px 30px;
        margin-right: -0.2em;
        line-height: 17px;
        font-size: 17px;
        color: white;
        text-decoration: none;
        font-family: "Cuprum";
    }
    
    .main-navigation-list a:hover {
        background: rgb(41, 52, 73);
    }
    
    .main-navigation-list a:active {
        background: rgb(41, 52, 73);
        color: rgb(142, 147, 156);
    }
    
    .user-block {
        float: right;
        width: 300px;
    }
    
    p.info-adress {
        display: table;
        padding: 10px 15px;
        margin: 0;
        color: rgb(50, 66, 92);
        line-height: 18px;
        font-size: 16px;
        text-align: center;
    }
    
    .features {
        margin-bottom: 20px;
    }
    
    .features-left {
        float: left;
        width: 620px;
        margin-right: 20pxx;
    }
    
    .features-right {
        float: right;
        width: 300px;
    }
    
    .features-item.features-item-materials {
        float: left;
        width: 270px;
        height: 92px;
        background-color: #f6b22d;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;
    }
    
    .features-name {
        display: table;
        margin-top: 5px;
        margin-left: 11px;
        color: white;
        line-height: 30px;
        font-size: 24px;
        position: relative;
        font-family: Cuprum;
    }
    
    .features-item.features-item-materials .features-name:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 200px;
        width: 44px;
        height: 65px;
        background: url('../img/material.png') no-repeat 0 0;
    }
    
    .features-item.features-item-instruments .features-name:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 180px;
        width: 75px;
        height: 61px;
        background: url('../img/tool.png') no-repeat 0 0;
    }
    
    .features-item.features-item-techno .features-name:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 180px;
        width: 75px;
        height: 61px;
        background: url('../img/tech.png') no-repeat 0 0;
    }
    
    .features-button {
        display: table;
        margin-left: 11px;
        margin-top: 13px;
        padding: 10px 25px;
        line-height: 18px;
        font-size: 14px;
        border-radius: 5px;
        background-color: rgba(229, 229, 229, 0.5);
    }
    
    a.features-button {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }
    
    .features a.features-button:hover {
        background-color: rgba(204, 204, 204, 0.5);
    }
    
    .features a.features-button:active {
        background-color: rgba(178, 178, 178, 0.5);
    }
    
    .features-item-materials .flag {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 64px;
        overflow: hidden;
        z-index: 20;
    }
    
    .features-item-materials .flag-new {
        background: url("../img/new-flag.png") no-repeat 0 0;
    }
    
    .features-item.features-item-instruments {
        float: left;
        display: inline-block;
        width: 270px;
        height: 92px;
        background-color: #4aafde;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    
    .slider {
        float: left;
        margin-right: 0px;
        position: relative;
        width: 620px;
        height: 265px;
    }
    
    .slide:before {
        content: '';
        position: absolute;
        top: 120px;
        left: 20px;
        width: 22px;
        height: 40px;
        background: url('../img/slide-icon-left.png') no-repeat 0 0;
    }
    
    .slide:after {
        content: '';
        position: absolute;
        top: 120px;
        left: 580px;
        width: 22px;
        height: 40px;
        background: url('../img/slide-icon-right.png') no-repeat 0 0;
    }
    
    .slider-controls {
        position: absolute;
        bottom: 30px;
        left: 60%;
        width: 100px;
        height: 10px;
        margin-left: -100px;
        text-align: center;
        z-index: 1000;
    }
    
    .slider-controls i {
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 0 3px;
        background: white;
        border: 3px solid white;
        vertical-align: top;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .slider-controls .active {
        background: #ee3643;
    }
    
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(255, 255, 0, 0.1);
    }
    
    .slide-text {
        width: 235px;
        padding: 25px 20px;
        font-size: 18px;
        line-height: 24px;
        color: white;
    }
    
    .slide-title {
        font-size: 36px;
        line-height: 30px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }
    
    .slide .btn {
        display: block;
        width: 200px;
        padding: 10px 0;
        margin-top: 100px;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        background: #ee3643;
        border-radius: 3px;
    }
    
    .slide .btn:hover {
        background: #ca2c37;
        color: white;
    }
    
    .slide .btn:active {
        background: #ba2732;
        color: white;
    }
    
    .slide:nth-child(1) {
        background-image: url('../img/slider2.jpg');
        background-repeat: no-repeat;
        background-position: 100% 0px;
    }
    
    .slide {
        display: none;
    }
    
    .slide:nth-child(1) {
        display: block;
    }
    
    .slide:nth-child(2) {
        background-image: url('../img/slider.jpg');
        background-repeat: no-repeat;
        background-position: 100% 0px;
    }
    
    .features-item.features-item-techno {
        float: right;
        display: inline-block;
        width: 270px;
        height: 92px;
        background-color: #cc79d1;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    
    .features-item.features-item-sale {
        float: right;
        display: inline-block;
        width: 270px;
        height: 92px;
        background-color: #85d179;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    
    .features-item.features-item.features-item-sale .features-name:after {
        content: '';
        position: absolute;
        background: url(../img/sale.png) no-repeat 0 0;
        width: 59px;
        height: 72px;
        top: 10px;
        left: 185px;
    }
    
    .features-item.features-item-delivery {
        float: right;
        display: inline-block;
        width: 270px;
        height: 92px;
        background-color: #f6b22d;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    
    .features-item.features-item-delivery .features-name:after {
        content: '';
        position: absolute;
        background: url(../img/delivery.png) no-repeat 0 0;
        width: 78px;
        height: 63px;
        top: 10px;
        left: 165px;
    }
    
    .popular {
        width: 890px;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 25px;
        padding-top: 25px;
        background-color: #f7f3ec;
    }
    
    h1.popular-headline {
        float: left;
        margin: 0;
        padding-top: 5px
    }
    
    .popular-btn {
        float: right;
        font-family: Cuprum;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        background-color: #ee3643;
        padding: 10px 55px;
        border-radius: 5px;
    }
    
    .popular-goods > .good-card:nth-child(4n) {
        margin-right: 0px;
    }
    
    .good-card {
        float: left;
        width: 218px;
        margin-right: 20px;
    }
    
    .good-card good-card-new {
        margin-right: 0;
    }
    
    .producers-gallery {
        margin-bottom: 65px;
        padding: 0;
        list-style: none;
        font-size: 0;
    }
    
    .producers-gallery li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        vertical-align: top;
    }
    
    .producers-gallery li:nth-child(4n) {
        margin-right: 0px;
    }
    
    .gallery {
        width: 218px;
        height: 140px;
        border: 1px solid #e5e5e5;
    }
    
    .gallery:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
    
    .gallery:active {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        opacity: 0.7;
    }
    
    .company1 {
        background: url('../img/company1.jpg') no-repeat 50% 50%;
    }
    
    .company2 {
        background: url('../img/company2.jpg') no-repeat 50% 50%;
    }
    
    .company3 {
        background: url('../img/company3.jpg') no-repeat 50% 50%;
    }
    
    .company4 {
        background: url('../img/company4.jpg') no-repeat 50% 50%;
    }
    
    .company5 {
        background: url('../img/company5.jpg') no-repeat 50% 50%;
    }
    
    .company6 {
        background: url('../img/company6.jpg') no-repeat 50% 50%;
    }
    
    .company7 {
        background: url('../img/company7.jpg') no-repeat 50% 50%;
    }
    
    .company8 {
        background: url('../img/company8.jpg') no-repeat 50% 50%;
    }
    
    .service {
        margin-bottom: 76px;
        background-color: #f2f6f8;
        height: 522px;
    }
    
    .service-block {
        padding-top: 60px;
    }
    
    .service-headline {
        color: black;
        font-weight: 400;
        line-height: 24px;
        padding: 0;
        margin-top: 5px;
    }
    
    .service-description {
        font-family: PT Sans;
        font-size: 13px;
        color: black;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 75px;
        margin: 0;
    }
    
    .left-service {
        float: left;
        display: inline-block;
        width: 300px;
    }
    
    .right-service {
        float: right;
        display: inline-block;
        width: 620px;
    }
    
    .service-selector-item {
        background-color: #32425c;
        box-shadow: inset 0 -1px 0 #293449;
        font-family: Cuprum;
        font-size: 21px;
        font-weight: 700;
        line-height: 30px;
        list-style: none;
    }
    
    .service-selector {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 80px;
        padding: 0;
        list-style: none;
        position: relative;
    }
    
    .service-selector:after {
        content: '';
        position: absolute;
        background: url(../img/line.png) no-repeat;
        width: 10px;
        height: 272px;
        top: -40px;
        right: 0;
    }
    
    .service-selector li {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        line-height: 18px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background-color: #32425c;
        box-shadow: inset 0 -1px 0 #293449;
    }
    
    .service-selector li.active {
        background-color: #fff;
    }
    
    .service-selector li.active a {
        color: #32425c;
    }
    
    .service-selector li a {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }
    
    .service-slide-headline {
        font-weight: 400;
        line-height: 24px;
        /* Text style for "Доставка" */
        color: #32425c;
        font-family: Cuprum;
        font-size: 36px;
        text-transform: uppercase;
        padding-bottom: 25px;
        margin: 0;
    }
    
    .service-slide-text {
        width: 275px;
        color: black;
        font-family: PT Sans;
        font-size: 13px;
        position: relative;
        padding: 0;
        margin: 0;
    }
    
    .service-slide-text:after {
        content: '';
        position: absolute;
        background: url(../img/car.png) no-repeat;
        width: 468px;
        height: 261px;
        top: -45px;
        left: 150px;
    }
    
    .my-company {
        margin-bottom: 88px;
    }
    
    .about {
        float: left;
        width: 620px;
    }
    
    .about-btn {
        font-family: Cuprum;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        background-color: #ee3643;
        padding: 10px 40px;
        border-radius: 5px;
    }
    
    .contacts-btn {
        font-family: Cuprum;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        background-color: #ee3643;
        padding: 10px 61px;
        border-radius: 5px;
    }
    
    .contacts {
        float: right;
        width: 300px;
        margin-bottom: 88px;
    }
    
    .bottom-footer {
        background-color: #293449;
        color: white;
        text-decoration: none;
    }
    
    .footer-mail p {
        float: left;
        width: 140px;
        margin-top: 35px;
        margin-right: 50px;
        font-family: Cuprum;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        color: white;
    }
    
    .footer-mail p span {
        color: #ffd180;
    }
    
    .footer-mail p span:hover {
        text-decoration: underline;
    }
    
    .footer-mail p span:active {
        color: #ee3643;
    }
    
    .footer-academy p {
        float: right;
        width: 100px;
        margin-top: 35px;
        font-family: Cuprum;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        color: white;
    }
    
    .footer-academy p a {
        color: #ffd180;
        text-decoration: none;
    }
    
    .footer-academy p a:hover {
        text-decoration: underline;
    }
    
    .footer-academy p a:active {
        color: #ee3643;
        text-decoration: none;
    }
    
    .upper-footer {
        background-color: #32425c;
        text-decoration: none;
    }
    
    .footer-left-block {
        float: left;
    }
    
    .footer-logo {
        background-color: #ee3643;
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
        display: inline-block;
        padding: 18px 28px;
        margin-bottom: 30px;
    }
    
    .footer-logo a {
        color: white;
        font-family: Cuprum;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px 40px;
    }
    
    .footer-contacts {}
    
    .footer-right-block {
        float: right;
    }
    
    .footer-copyright p {
        float: left;
        width: 230px;
        margin-right: 150px;
        margin-top: 40px;
        margin-bottom: 35px;
        color: white;
        font-family: Cuprum;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-transform: none;
        padding: 0;
    }
    
    .footer-social {
        float: left;
        width: 150px;
        margin-right: 80px;
        margin-top: 35px;
    }
    
    .social-btn {
        display: inline-block;
        vertical-align: top;
        width: 41px;
        height: 41px;
        background-color: #212a3a;
        border-radius: 50%;
        text-align: center;
        margin-right: 5px;
    }
    
    .footer-right-block li {
        display: inline;
    }
    
    .breadcrumbs a {
        line-height: 18px;
        font-size: 14px;
        font-family: 'Open Sans';
        text-decoration: none;
        color: black;
        padding: 25px 0;
        display: inline-block;
        padding-right: 18px;
    }
    
    .catalog-headline {
        height: 60px;
        background: #f2f6f8;
        text-transform: uppercase;
        line-height: 30px;
        font-size: 30px;
        color: #32425c;
        padding: 15px;
        margin-bottom: 20px;
        ;
    }
    
    .about-list {
        padding: 0px;
        margin: 0;
        list-style: none;
        margin-bottom: 23px;
    }
    
    .about-list li {
        padding-left: 40px;
        background: url('../img/marker.png') no-repeat 0 20%;
        padding-bottom: 25px;
        line-height: 18px;
        font-size: 18px;
        font-weight: bold;
        font-family: Cuprum;
        list-style: none;
    }
    
    .about-list li a {
        color: black;
        text-decoration: none;
    }
    
    .map {
        margin-bottom: 45px;
    }
    
    .footer-contacts p {
        color: #f1f5f7;
        font-family: Cuprum;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-menu-top a {
        color: #f1f5f7;
        font-family: Cuprum;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        text-transform: none;
        margin-left: 60px;
        margin-right: 0px;
    }
    
    .footer-menu-top a:hover {
        text-decoration: underline;
    }
    
    .footer-menu-top a:active {
        opacity: 0.5;
    }
    
    .footer-menu-top {
        margin-top: 45px;
        margin-bottom: 45px;
        padding: 0;
        list-style: none;
        font-size: 0;
        text-align: right;
    }
    
    .footer-menu-bottom a {
        color: #ffd180;
        font-family: Cuprum;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        text-transform: none;
        margin-left: 60px;
        margin-right: 0px;
    }
    
    .footer-menu-bottom a:hover {
        text-decoration: underline;
    }
    
    .footer-menu-bottom a:active {
        opacity: 0.5;
    }
    
    .footer-menu-bottom {
        margin-bottom: 75px;
        padding: 0;
        list-style: none;
        font-size: 0;
        text-align: right;
    }
    /*.main-content {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
}*/
    /* catclog*/
    
    .left-column {
        float: left;
        width: 220px;
        margin-right: 20px;
    }
    
    .right-column {
        float: right;
        width: 700px;
    }
    
    .products .good-card:nth-child(3n) {
        margin-right: 0;
    }
    
    .products .good-card {
        border: 1px solid #e5e5e5;
        margin-bottom: 20px;
    }
    
    .popular-goods .good-card {
        border: 1px solid #e5e5e5;
        margin-bottom: 20px;
        position: relative;
    }
    
    .popular-goods .good-card:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
    
    .popular-goods .good-card.good-card-new:after {
        content: '';
        position: absolute;
        background: url(../img/new-flag.png) no-repeat 0 0;
        width: 60px;
        height: 59px;
        top: 0;
        right: 0;
    }
    
    .products .good-card img {
        padding: 15px 45px;
        max-height: 112px;
    }
    
    .popular-goods .good-card img {
        padding: 15px 45px;
        max-height: 112px;
    }
    
    .products .good-card b.good-card-name {
        display: block;
        padding: 15px 30px;
        color: black;
        font-family: PT Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        margin: 0;
    }
    
    .popular-goods .good-card b.good-card-name {
        display: block;
        padding: 15px 30px;
        color: black;
        font-family: PT Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        margin: 0;
    }
    
    .products .good-card span {
        display: block;
        color: #999;
        text-align: center;
        font-family: PT Sans;
        font-size: 17px;
        font-weight: 700;
        line-height: 18px;
        text-decoration: line-through;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 15px;
    }
    
    .popular-goods .good-card span.good-card-oldprice {
        display: block;
        color: #999;
        text-align: center;
        font-family: PT Sans;
        font-size: 17px;
        font-weight: 700;
        line-height: 18px;
        text-decoration: line-through;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 15px;
    }
    
    .popular-goods .good-card span.good-card-oldprice.none {
        color: transparent;
    }
    /* чтобы скрыть элемент без потери высоты блока */
    
    .products .good-card a.good-card-price-btn {
        display: table;
        position: relative;
        padding: 13px 35px;
        margin: 0 auto 20px auto;
        color: white;
        font-family: PT Sans;
        font-size: 17px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #ee3643;
    }
    
    .popular-goods .good-card a.good-card-price-btn {
        display: table;
        position: relative;
        padding: 13px 35px;
        margin: 0 auto 20px auto;
        color: white;
        font-family: PT Sans;
        font-size: 17px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #ee3643;
    }
    
    .popular-goods .good-card a.good-card-price-btn:after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        width: 0;
        height: 0;
        border: 22px solid white;
        border-left-color: #ee3643;
    }
    
    .products .good-card .actions {
        display: none;
    }
    
    .popular-goods .good-card .actions {
        display: none;
    }
    
    section.catalog-description {
        background-color: #f2f6f8;
        padding-top: 65px;
        padding-bottom: 75px;
    }